[index] 

	css

	<link rel="shortcut icon" href="favicon.ico"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/jquery-ui.structure.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    javascript

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/jquery.viewportchecker.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>
    <script src="js/jquery.circliful.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=en"></script>
	<script src="js/map.js"></script>
	<script src="js/jquery.countTo.js"></script>
    <script src="js/all.js"></script>

[Search]

 css 

	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	

[About us] 

css

	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	

[faqs]

css
	
	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	
	

[contact us]

css

	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	

	

[blog]

css

	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	
	
	

[blog read]

css
	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	
	

[login]

css

	
	
	
	
	
	

javasccript

	
	
	
	
	
	
	
	
		

[booking]

css

	
	
	
	
	
	

javascript

	
	
	
	
	
	
	
	
	

[detailed]

css
		
		
		
		
		
		

javascript

		
		
		
		
		
		
		
		
		

[thank you]

css

		
		
		
		
		
		

javascript

		

		
		
		
		
		
		
		